.menu__list{
    list-style: none;
    display:flex;
    justify-content: space-between;
    width: 100%;
}





@media screen and (max-width:1000px){
    .menu__item:last-child{
        display:inherit;   
        
    }
    
    }