.experiencia__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  background-color: #191b1f;
  border-radius: 30px;
  margin-bottom: 2em;
}

.experiencia__card--reverse {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse wrap;
  width: 100%;
  background-color: #191b1f;
  border-radius: 30px;
  margin-bottom: 2em;
}



@media screen and (max-width:1100px) {
  .experiencia__card{
    flex-flow:column nowrap;
    align-items: center;
      
  }

  .experiencia__card--reverse{
    flex-flow:column nowrap;
    align-items: center;
      
  }
}
