.formacion__cardbox {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    height: fit-content;
}



@media screen and (max-width:1100px) {
    .formacion__cardbox{
        width: 90%;
        
    }
}