.contacto__inputbox {
  position: relative;
  margin-bottom: 1rem;
}

.contacto__inputbox--invalid {
  margin-bottom: 1rem;
}

.contacto__inputbox--invalid .input {
  border-bottom: 1px solid var(--warning-color) !important;
}

.contacto__inputbox--invalid .input-label {
  color: var(--warning-color) !important;
}

.contacto__inputbox--invalid textarea {
  border-bottom: 1px solid var(--warning-color) !important;
}

.contacto__inputbox--invalid .contacto__input-message-error {
  color: var(--warning-color);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
